.switch-btn {
  display: inline-block;
  width: 62px;
  height: 24px;
  border-radius: 12px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.switch-btn::after {
  content: "";
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #fff;
  top: -6px;
  left: -6px;
  transition-duration: 300ms;
  box-shadow: 0 0 10px 0 #999999;
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999;
}
.switch-on::after {
  left: 30px;
  background: #118c4e;
}
.container-flex__darkmode {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
